.laporan-total .col {
  background-color: white;
  border-radius: 10px;
  padding: 10px 0 5px 0;
  text-align: center;
}

.laporan-total h3 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 5px;
}

.laporan-total-kiri {
  margin-left: 10px;
  margin-right: 5px;
}

.laporan-total-tengah {
  margin-left: 5px;
  margin-right: 5px;
}

.laporan-total-kanan {
  margin-left: 5px;
  margin-right: 10px;
}

.laporan-total-kiri h3 {
  color: red;
}

.laporan-total-tengah h3 {
  color: rgb(255, 180, 0);
}

.laporan-total-kanan h3 {
  color: green;
}

.laporan-total-spinner {
  margin-top: 30px;
  margin-bottom: 30px;
}

.laporan-daftar {
  background-color: white;
  margin-top: 15px;
  padding-top: 15px;
  padding-bottom: 90px;
}

.laporan-daftar h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}

.laporan-daftar h6 {
  color: rgb(80, 120, 80);
  margin-top: 2px;
  margin-bottom: 0;
}

.laporan-lihat {
  color: rgb(80, 120, 80);
  margin-bottom: 20px;
  text-align: center;
}

.laporan-lihat .container {
  border-top: solid 1px rgb(220, 220, 220);
  margin-bottom: 10px;
}

.laporan-daftar-spinner {
  text-align: center;
  padding-top: 70px;
}

.laporan-lihat-spinner {
  margin-top: 10px;
}
